*{
    margin: 0;
    padding: 0;
}
.navbarheaderN{
    color: rgb(255, 201, 14);
    text-decoration: none;
}
.navbarheaderM{
    
    color: rgb(255, 0, 128);
    text-decoration: none;
}
.navbarheaderP{
    color: rgb(181, 230, 29);
    text-decoration: none;
}
.navbarheaderS{
    
    color: rgb(253, 72, 221);
    text-decoration: none;
}
.form-control{
    height: 3.5rem;
}
.form-group{
    height: 2rem;
}

.headerfooter{
    background-color:  #000C66;

}

legend{
    color: aliceblue;
}

li{
    display: inline-block;
    list-style-type: none;
margin: 0 20px;
}

ul{
    display: inline-flex;
}
.navbar{
    padding: 0;
}
.carousel-item .carousel-caption{
    margin: auto;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    align-items: center;
}

.carousel-item .card-text{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}