*{
    margin: 0;
    padding: 0;
}


a{
    color: black;
}


a:hover{

    color: rgb(231, 24, 238);
}
.headerfooter{
    background-color: #000C66;
}

.linksentext{
    text-decoration: underline;
}

li{
    display: inline-block;
    list-style-type: none;
margin: 0 20px;
}

ul{
    display: inline-flex;
}


.maschico{
    font-size: 10rem;

}



.navbarheader{
    color: aliceblue;
}
.sectioncortapag{
    background-color: #6fb6df;
    color: black;
    font-size: 16rem;
    height: 17rem;
    align-items: center;

}

.sectioncertificates{
    background-color: #6fb6df;
    color: black;

}

